<div class="container-horizontal relative h0">
    <nav class="nav-menu">
        <a href="/profile" class="nav-menu-link">
            <img src="/src/img/profile.svg" alt="">
            <div class="hover-effect">Me</div>
        </a>
        <a href="/messages" class="nav-menu-link">
            <img src="/src/img/chat.svg" alt="">
            <div class="hover-effect">Messages</div>
        </a>
        <a href="/friends" class="nav-menu-link">
            <img src="/src/img/friends.svg" alt="">
            <div class="hover-effect">Friends</div>
        </a>
        <a href="#" class="nav-menu-link">
            <img src="/src/img/group.svg" alt="">
            <div class="hover-effect">Groups</div>
        </a>
        <a href="#" class="nav-menu-link">
            <img src="/src/img/image.svg" alt="">
            <div class="hover-effect">Images</div>
        </a>
    </nav>
    <section class="friends-online" data-friends-online>
        <h3>Friends online</h3>
    </section>
</div>