<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header class="header">
        <div class="container-horizontal">
            <a class="header-logo" href="#">Connectum</a>
            <nav class="header-nav">
                <form action="/search" class="header-nav-search" method="POST" >
                    <button class="header-nav-btn"><img src="/src/img/search.svg" alt=""></button>
                    <input type="text">
                </form>
                <div class="header-nav-btn">
                    <img src="/src/img/bell.svg" alt="">
                </div>
                <div class="header-nav-btn">
                    <img src="/src/img/gear.svg" alt="">
                </div>
            </nav>
        </div>
    </header>
    <div class="container-horizontal relative h0">
        <nav class="nav-menu">
            <a href="#" class="nav-menu-link">
                <img src="/src/img/profile.svg" alt="">
                <div class="hover-effect">Me</div>
            </a>
            <a href="#" class="nav-menu-link">
                <img src="/src/img/chat.svg" alt="">
                <div class="hover-effect">Messages</div>
            </a>
            <a href="#" class="nav-menu-link">
                <img src="/src/img/friends.svg" alt="">
                <div class="hover-effect">Friends</div>
            </a>
            <a href="#" class="nav-menu-link">
                <img src="/src/img/group.svg" alt="">
                <div class="hover-effect">Groups</div>
            </a>
            <a href="#" class="nav-menu-link">
                <img src="/src/img/image.svg" alt="">
                <div class="hover-effect">Images</div>
            </a>
        </nav>
        <section class="friends-online">
            <h3>Friends online</h3>
            <div class="friend-online">
                <div class="friend-img online"><img src="/src/img/profile.svg" alt=""></div>Friend
            </div>
            <div class="friend-online">
                <div class="friend-img online"><img src="/src/img/profile.svg" alt=""></div>Friend
            </div>
        </section>
    </div>
    
    <div class="container-content">
        <div class="post">
            <div class="post-header">
                <div class="post-header-profile relative online"><img src="/src/img/profile.svg" alt=""></div>
                <div class="post-header-info">
                    <div class="post-header-info-profile-name">Name</div>
                    <div class="post-header-info-date">Yesterday at 03:32</div>
                </div>
            </div>
            <img src="/src/img/demo_post.jpg" class="post-image"></img>
            <div class="post-statistics">
                <form>
                    <button type="submit"><img src="/src/img/like.svg"></img></button><div>20</div>
                </form>
                <form>
                    <button type="submit"><img src="/src/img/comment.svg"></img></button><div>3</div>
                </form>
            </div>
        </div>
        <div class="post">
            <div class="post-header">
                <div class="post-header-profile relative online"><img src="/src/img/profile.svg" alt=""></div>
                <div class="post-header-info">
                    <div class="post-header-info-profile-name">Name</div>
                    <div class="post-header-info-date">Yesterday at 03:32</div>
                </div>
            </div>
            <img src="/src/img/demo_post.jpg" class="post-image"></img>
            <div class="post-statistics">
                <form>
                    <button type="submit"><img src="/src/img/like.svg"></img></button><div>20</div>
                </form>
                <form>
                    <button type="submit"><img src="/src/img/comment.svg"></img></button><div>3</div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>