<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script defer src="/scripts/script.js"></script>
</head>
<body>
    <%- include ('partials/_header.ejs') %> 
    <%- include ('partials/_side-navs.ejs') %>
    <div class="container-content">
        <div class="post">
            <div class="post-header">
                <div class="post-header-profile relative online"><img src="/src/img/profile.svg" alt=""></div>
                <div class="post-header-info">
                    <div class="post-header-info-profile-name">Name</div>
                    <div class="post-header-info-date">Yesterday at 03:32</div>
                </div>
            </div>
            <img src="/src/img/demo_post.jpg" class="post-image"></img>
            <div class="post-statistics">
                <form>
                    <button type="submit"><img src="/src/img/like.svg"></img></button><div>20</div>
                </form>
                <form>
                    <button type="submit"><img src="/src/img/comment.svg"></img></button><div>3</div>
                </form>
            </div>
        </div>
        <div class="post">
            <div class="post-header">
                <div class="post-header-profile relative online"><img src="/src/img/profile.svg" alt=""></div>
                <div class="post-header-info">
                    <div class="post-header-info-profile-name">Name</div>
                    <div class="post-header-info-date">Yesterday at 03:32</div>
                </div>
            </div>
            <img src="/src/img/demo_post.jpg" class="post-image"></img>
            <div class="post-statistics">
                <form>
                    <button type="submit"><img src="/src/img/like.svg"></img></button><div>20</div>
                </form>
                <form>
                    <button type="submit"><img src="/src/img/comment.svg"></img></button><div>3</div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>