.friends-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.7em;
    row-gap: 2.1em;
}

.friend-container {
    margin-top: 1em;
    background-color: #fff;
    border-radius: .5em;
    padding: 1em 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-container-img {
    width: 100%;
    height: auto;
    background-color: #333;
    border-radius: .4em;
}

.friend-container-img::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.friend-container-img img {
    width: 100%;
    height: 100%;
    border-radius: .4em;
    object-fit: cover;
}

.friend-container-info {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-self: flex-start;
}

.friend-container-data {
    color: #5a5a5a;
    font-size: .9em;
    margin-top: .7em;
    font-weight: 600;
}

.btn-add-friend {
    font-size: .85em;
}