header{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #333;
    z-index: 99;
    background-color: #eeeeee;
}

.header-logo {
    font-size: 26px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.header-nav {
    display: flex; 
    align-items: center;
}

.header-nav-btn {
    margin: 0 1em;
    width: 2.3em;
    height: 2.3em;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease-out;
    transform: scale(1);
}

.header-nav-btn:hover {
    transform: scale(1.2);
}

.header-nav-btn img {
    width: 1.5em;
    height: 1.5em;
    color: white;
}

.nav-menu {
    position: fixed;
    top: 12vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: .3em;
    z-index: 99;
}

.nav-menu-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    margin: .4em 0;
} 

.nav-menu-link img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.6em;
}

.friends-online {
    position: fixed;
    top: 12vh;
    right: 10vw;
    background-color: #fff;
    padding: 1em;
    border-radius: .3em;
    z-index: 99;
}

.friend-online {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.friend-img {
    margin-right: .6em;
    border-radius: 50%;
    position: relative;
}

.friend-online img {
    width: 1.6em;
    height: 1.6em;
}
