.login-bg, .register-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;  
}

.login-bg {
    background-image: url('../src/img/login-bg.jpg');
}

.register-bg {
    background-image: url('../src/img/register.bg.jpg');
}

.form {
    background-color: #fff;
    border-radius: 6px;
    padding: 2em;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.form-double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-header {
    color: #333;
    font-size: 32px;
    margin-top: 1.5em;
    margin-bottom: 1.65em;
}

.form-info {
    color: #505050;
    font-size: 14px;
    margin-bottom: 4em;
    font-style: italic;
}

.form-info a {
    color: #000;
    text-decoration: none;
    margin-left: .3em;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.form-field label {
    color: #333;
    margin-bottom: .25em;
}

.form-field input {
    width: 100%;
    background-color: #505050;
    border: none;
    border-radius: 4px;
    color: white;
    padding: .65em 1.5em;
    font-weight: 500;
}

.form-submit {
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    font-size: 16px;
    padding: .7em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.1em;
    margin-bottom: .5em;
    transition: .1s;
}

.form-submit:hover {
    background-color: #a6a6a6;
    color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-date-field input {
    text-align: center;
}

input[type="radio"]{
    -webkit-appearance: radio;
}

::placeholder {
    color: white;
    opacity: .7;
  }

.form-field-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.radio-btn {
    display: flex;
    align-items: center;
}

.radio-btn input {
    width: 1em;
}

.radio-btn label {
    margin-left: .4em;
    transform: translateY(10%);
}

input[type="file"] {
    display: none;
}

.form-image-input {
    width: 100%;
    background-color: #505050;
    height: 300px;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    cursor: pointer;
}

.form-field .msg-error {
    color: red;
    font-size: .75em;
    margin-top: 3px;
}