.messages-search {
	width: 100%;
	background-color: #fff;
	padding: 1em 1.2em;
	border-radius: 0.3em;
	display: flex;
	align-items: center;
}

.messages-search img {
	height: 1.5em;
	margin-right: 1em;
}

.messages-search input,
.messages-search input:focus,
.chat-send-container input,
.chat-send-container input:focus {
	background: none;
	border: none;
	color: #333;
	width: 100%;
	font-size: 1em;
}

.messages-search input::placeholder,
.chat-send-container input::placeholder {
	color: #333;
}

.messages-people {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.messages-person {
	width: 100%;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	margin-top: 0.7em;
	border-radius: 0.3em;
}

.messages-person:hover {
	border: 1px solid #333;
}

.messages-person-info {
	display: flex;
	align-items: center;
}

.messages-person-img {
	width: 100px;
	height: 100px;
}

.messages-person-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.messages-person-data {
	margin-left: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.messages-person-name {
	font-weight: 600;
	margin-bottom: 1em;
}

.messages-person-message {
	color: #5a5a5a;
}

.messages-person-time {
	color: #5a5a5a;
}

.chat-person-header {
	display: flex;
	align-items: center;
}

.chat-person-img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.chat-person-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.chat-person-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 0.7em;
}

.chat-person-name {
	font-weight: 600;
	margin-bottom: 0.3em;
}

.chat-person-online {
	color: #5a5a5a;
	font-size: 0.8em;
}

.chat-container {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 65vh;
	overflow-y: scroll;
	padding: 2em 1em;
	display: flex;
	flex-direction: column;
	position: relative;
}

.chat-send-container {
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
	position: relative;
}

.chat-send-container button,
.chat-send-container button:active {
	background: none;
	border: none;
}

.chat-send-container button:hover {
	cursor: pointer;
}

.chat-send-container img {
	height: 1.5em;
}

.message {
	max-width: 33%;
	display: flex;
	align-items: flex-end;
	margin-top: 0.2em;
}

.message-text {
	background-color: #333;
	color: #fff;
	padding: 0.3em 0.6em;
	border-radius: 0.2em;
}

.message-time {
	font-size: 0.9em;
	margin-left: 0.3em;
}

.message-right {
	align-self: flex-end;
	flex-direction: row-reverse;
}

.message-right .message-time {
	margin-right: 0.3em;
}

.chat-is-typing {
	position: absolute;
	font-size: 14px;
	color: #5a5a5a;
	left: 1em;
	top: -70%;
}
