.profile-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.2em;
    background-color: #fff;
    border-radius: .4em;
    padding: 1.4em;
    width: 100%;
    margin-top: .7em;
}

.profile-left, .profile-right {
    display: flex;
    flex-direction: column;
}

.profile-container h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1em;
}

.profile-left div {
    border-radius: .3em;
    overflow: hidden;
}

.profile-left img {
    width: 100%;
    margin-right: 1em;
    border-radius: .3em;
}

.profile-right {
    justify-content: space-between;
}

.profile-right a{
    font-weight: 600;
    width: auto;
}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .63em;
}

.profile-container-label {
    font-weight: 600;
}

.profile-container-info {
    margin-top: 1em;
    color: #3a3a3a;
    font-size: .85em;
}

.profile-container-row input, textarea.profile-container-info {
    padding: .3em .5em;
    border: 1px solid #5a5a5a;
    border-radius: .2em;
}

textarea.profile-container-info {
    resize: vertical;
}

input.profile-container-info {
    height: 100%;
}